*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


.container {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
     
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgb(0, 140, 255);
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
}

.sidebar > div {
    border: 1px solid black;
    padding-left: 10px;
}

 .sideButtons{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: larger;
    /* border: 1px solid black; */
 }

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: rgb(209, 235, 235);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchBar {
    grid-column: 1 / 3;
    border: 1px dotted white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userName {
    display: flex;
    
}

.userInfo{
    grid-column: 1 / 2;
    border: 1px solid black;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.headerButtons{
    grid-template-columns: 2 / 3;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-content {
    padding: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 10px;
    background-color: lightgoldenrodyellow;

    display: grid;
    grid-template-columns: 3fr 1fr;
   
    
}


.main-content > div {
    border: 1px solid black;
}

.projects{
    grid-row: 1 / 3;
    
}

.mainContent-Projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}


.cards {
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
 
}

.announcements{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
     
}

.tending{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}

.title {
    border: 1px dotted black;
}