*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
     
}

.logo {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bolder;
    font-size: larger; 
    align-items: center;
}

.logo > * {
    width: 100%;
    align-content: center;
    justify-self: center;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgb(0, 140, 255);
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    color: white;
    font-weight: bolder;
    max-height: 100vh;
    
}

 

.sidebar > div {
    /* border: 1px solid black; */
    padding-left: 10px;
}

 .sideButtons{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: larger;
    text-align:start ;
 }

.header {
     
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: rgb(209, 235, 235);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchBar {
    grid-column: 1 / 3;
    border: 1px dotted white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userName {
    display: flex;
    
}

.userInfo{
    grid-column: 1 / 2;
    border: 1px solid black;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.headerButtons{
    grid-template-columns: 2 / 3;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-content {
    padding: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 30px;
    background-color: rgba(250, 250, 210, 0.781);
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}


 
.projects{
    grid-row: 1 / 3;
   
}

.mainContent-Projects{
    display: grid;
    height:95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: stretch;
    align-content: center;
   
}


.cards {
    border-radius: 20px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 10px;
    border-left: 5px solid rgb(245, 169, 28);
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
 
}

.cardsIcons {
   width: 100%;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
  justify-content: flex-end;
}

.announcements{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
 
}

.mainContent-Announcements{
    background-color: white;
    border-radius: 20px;
    height: 100%;
  padding: 1em;
}

.tending{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.mainContent-Trending{
    background-color: white;
    border-radius: 20px;
     padding: 1em;
    width: 100%;
    border: 1px solid black;
}