*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --sidebarColor: #1992d4;
    --mainBgColor: #e2e8f0;
    --headerBgColor: #ffffff;
    --cardsLeftColor: #f0b429;
}

.container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
     
}

.logo {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bolder;
    font-size: larger; 
    align-items: center;
}

.logo > * {
    width: 100%;
    align-content: center;
    justify-self: center;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--sidebarColor);
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    color: white;
    font-weight: bolder;
    max-height: 100vh;
    
}

 

.sidebar > div {
    /* border: 1px solid black; */
    padding-left: 10px;
}

 .sideButtons{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: larger;
    text-align:start ;
 }

.header {
     
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--headerBgColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchBar {
    grid-column: 1 / 3;
    border: 1px dotted white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userName {
    display: flex;
    align-items: center;
    gap:10px;
}

.userName > p {
    font-weight: bolder;
}

.userInfo{
    grid-column: 1 / 2;
    /* border: 1px solid black; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.userInfo > p {
    font-weight: bold;
}

.headerButtons{
    grid-template-columns: 2 / 3;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
    gap:20px;
}

.main-content {
    padding: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 30px;
    background-color: var(--mainBgColor);
    max-height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
 
}

.projects{
    grid-row: 1 / 3;
}

.mainContent-Projects{
    display: grid;
    height:95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: stretch;
    align-content: center;
}

.cards {
    border-radius: 20px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 10px;
    border-left: 5px solid var(--cardsLeftColor);
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

.cardsIcons {
   width: 100%;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.announcements{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.mainContent-Announcements{
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    overflow: auto;
    height: 100%;
}


.announcementCards{
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--mainBgColor);
}

.tending{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.mainContent-Trending{
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trendingCards{
    display:flex;
    gap: 10px;
    align-items: center;
}

.TrendingProfilePic > img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.title {
    font-weight:lighter;   
}


.TrendingProfilePic:hover > img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(154, 154, 241);
    transition: 0.5s ease-in-out;
}

input[type='search']{
    background-color: var(--mainBgColor);
    border-radius: 20px;
    border: 1px solid var(--mainBgColor);
    width: 60%;
}

input[type='button']{
    width: 10%;
    border-radius: 20px;
    border: none;
    height: fit-content;
    padding: 10px;
    color:white;
    background-color: var(--sidebarColor);
    font-weight: bolder;
}