 .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
     
 }

 .box1 {
    background-color: blue;
  grid-area: 2 / 1 / 3 / 2;
 }

 .box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:4;
    background-color: lightcoral;
 }

.box3 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: pink;
}

 .box4 {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px solid black;
    background-color: yellow;
 }

 .wrapper > * {
    display: flex;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items:center ;
 }
 