*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    border: none;
    padding: 3px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 80% 5%;
}

.header{
     
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    border: none;
/*    
     background-image: url(images/glass.jpg);
     background-size: cover; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.header > input[type='button'] {
    width: fit-content;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightcoral;  
}

.header > input[type='button']:hover {
    width: fit-content;
    background-color: lightblue;
}
/* add book form - display set to none - will be changed on header + button click */
#addBookForm{
    display: none;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    gap:10px;
    border: 1px solid black;
    background-color: rgb(241, 129, 129);
    color: white;
    padding: 40px;
}

#addBookForm > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#addBookForm button {
    margin-top: 10px;
    background-color: rgb(250, 213, 213);
    border:none;
    width: 70%;
}

.library{
    border: none;
    background-color:burlywood;
    /* background-image: url(images/headerBackground1.jpg);
    background-size: cover; */
    width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat (30%);
    grid-auto-rows: auto;
    gap: 20px;
    padding: 10px;
    overflow:scroll;
}


.footer {
    border: 1px solid black;
    text-align: center;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* books cards  */

.books {
    border: 1px solid rgb(238, 227, 227);
    background-color: rgba(236, 240, 241, 0.904);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* gap: 10px; */
    justify-content: center;
    box-shadow: 0px 20px 20px lightgray;
    height: fit-content;
    /* width: 0.5fr; */
    min-width: 250px;
    overflow-wrap: anywhere;
    
    
}

.books:hover{
     background-color: lightblue;
}

.books > div:first-child{
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 1px solid black;
    height: (0, 3em);
 
    overflow: auto;
}

.books > div:nth-child(2){
    font-style: italic;
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgba(141, 126, 126, 0.877);
}

.books > button {
    width: 50%;
    align-self: center;
}


@media only screen and (max-width: 404px)  {
    .books > div:first-child{
        border: 2px solid black;
    
        overflow:auto;
        height:3em;
    }
}
